body{
	background-color: hsl(230, 17%, 14%);
	color: #fff;
	font-family: 'Inter', sans-serif;
}
section .header-div{
	padding: 50px 120px 150px 170px;
	background-color: hsl(232, 19%, 15%);
}
.right-para{
	float: right;
	position: relative;
	top: -75px;
	right: 60px;
	color: hsl(228, 34%, 66%);
}
.left-para{
	color: hsl(228, 34%, 66%);
}

.first-row{
	margin-bottom: 50px;
	margin: 0 auto;
	margin-top: -100px;
}
.col-md-3{
	margin: 0 10px 0 40px;
	text-align: center;
	background-color:  hsl(228, 28%, 20%);
	height: 225px;
	padding:20px;
	border-radius: 8px;
}
.col-md-3:hover{
	background-color: hsl(232, 19%, 30%); 
	cursor: pointer;
}
@media (max-width: 1400px){
	.col-md-3 {
	    -ms-flex: 0 0 15%;
	    flex: 0 0 20%;
	    max-width: 28%;
	}
}

.div_1{
	border-top:3px solid hsl(208, 92%, 53%); 
}
.div_2{	
	border-top:3px solid hsl(37, 97%, 70%);
}
.div_3{
	border-top:3px solid hsl(348, 97%, 39%); 	
}
.col-md-3 img{
	margin-right: 10px;
}
.first-div-numb{
	font-weight: bold;
	font-size: 60px;
}
.first-div-letters{
	letter-spacing: 4px;
}
.second-row{
	margin-top: 30px;
}
.second-div{
	text-align: left;
	height: 120px;
	margin-top: 20px;
}
.second-div a{
	float: right;
	position: relative;
	top:-50px;
	right: 7px;
}
.second-div-p1{
	color:hsl(228, 34%, 66%);
}
.second-div-p2{
	font-weight: bold;
	font-size: 30px;
}
.red-link{
	color: hsl(356, 69%, 56%);
}
.green-link{
	color:hsl(163, 72%, 41%); 
}
.second-div-p1 img{
	float: right;
}
.container h2{
	margin:50px 0 20px 40px;
}	
.col-md-3 {
	margin: 0 auto;
	}
@media (max-width: 1024px) and (min-width: 768px){
	.col-md-3 {
		margin: 0 auto;
	    -ms-flex: 0 0 15%;
	    flex: 0 0 20%;
	    max-width: 19%;
	}
}
@media (max-width: 768px) and (min-width: 414px){
	.col-md-3 {
		-ms-flex: 0 0 15%;
	    flex: 0 0 41%;
	    max-width: 100%;
	    margin-top: 30px;
	}
	.div_1, .div_2, .div_3{
		margin: 40px auto 0 30px;
	}
	.header-div h2, .left-para{
		margin-left: -84px;
	}
	.right-para {
	    position: relative;
	    top: -75px;
	    right: 1px;
	}
}
@media (max-width: 414px) and (min-width: 412px){
	.col-md-3 {
		-ms-flex: 0 0 15%;
	    flex: 0 0 240%;
	    max-width: 390%;
	    margin-top: 30px;
	}
	.div_1, .div_2, .div_3{
		margin: 40px auto 0 6px;
	}
	.second-div{
		-ms-flex: 0 0 15%;
	    flex: 0 0 88%;
	    max-width: 400%;
	    margin: 30px auto 0 auto; 
	}
	.second-div-p1, .second-div-p2{
		width:100%;

	}
	.second-div a{
		float: right;
		position: relative;
		top:-50px;
		right: 1px;
	}
	.second-row{
		margin: 0 auto;
		margin-left: -19px;
		margin-right: -24px;
	}
	.header-div h2{
		margin: 0 auto 0 -150px;
		width: 280px;
		font-size: 25px;
	}
	.left-para{
		width: 190px;
	    margin-left: -150px;
	}
	.right-para {
	    position: relative;
	    top: 15px;
	    right: 150px;
	}
	.right-para img{
		position: relative;
		top:-30px;
		right: -320px;
	}
	.container h2{
		margin-left:14px;
	}
}
@media (max-width: 411px) and (min-width: 375px){
	.col-md-3 {
		-ms-flex: 0 0 15%;
	    flex: 0 0 240%;
	    max-width: 390%;
	    margin-top: 30px;
	}
	.div_1, .div_2, .div_3{
		margin: 40px auto 0 6px;
	}
	.second-div{
		-ms-flex: 0 0 15%;
	    flex: 0 0 88%;
	    max-width: 400%;
	    margin: 30px auto 0 auto; 
	}
	.second-div-p1, .second-div-p2{
		width:100%;
	}
	.second-div a{
		float: right;
		position: relative;
		top:-50px;
		right: 1px;
	}
	.second-row{
		margin: 0 auto;
		margin-left: -19px;
		margin-right: -24px;
	}
	.header-div h2{
		margin: 0 auto 0 -150px;
		width: 280px;
		font-size: 25px;
	}
	.left-para{
		width: 190px;
	    margin-left: -150px;
	}
	.right-para {
	    position: relative;
	    top: 15px;
	    right: 150px;
	}
	.right-para img{
		position: relative;
		top:-30px;
		right: -320px;
	}
	.container h2{
		margin-left:14px;
	}
}
@media (max-width: 375px) and (min-width: 360px){
	.col-md-3 {
		-ms-flex: 0 0 15%;
	    flex: 0 0 220%;
	    max-width: 390%;
	    margin-top: 30px;
	}
	.div_1, .div_2, .div_3{
		margin: 40px auto 0 6px;
	}
	.second-div{
		-ms-flex: 0 0 15%;
	    flex: 0 0 92%;
	    max-width: 400%;
	    margin: 30px auto 0 auto; 
	}
	.second-div-p1, .second-div-p2{
		width:100%;
	}
	.second-div a{
		float: right;
		position: relative;
		top:-50px;
		right: 1px;
	}
	.second-row{
		margin: 0 auto;
		margin-left: -19px;
		margin-right: -24px;
	}
	.header-div h2{
		margin: 0 auto 0 -150px;
		width: 280px;
		font-size: 25px;
	}
	.left-para{
		width: 190px;
	    margin-left: -150px;
	}
	.right-para {
	    position: relative;
	    top: 15px;
	    right: 150px;
	}
	.right-para img{
		position: relative;
		top:-30px;
		right: -290px;
	}
	.container h2{
		margin-left: 10px;
	}
}
@media(max-width: 360px) and (min-width: 320px){
	.col-md-3 {
		-ms-flex: 0 0 15%;
	    flex: 0 0 236%;
	    max-width: 390%;
	    margin-top: 30px;
	}
	.right-para{
		width: 90px;
		position: relative;
		left: -135px;
	}
	.right-para img{
		position: relative;
		top:-30px;
		right: -270px;
	}
	.second-div{
		-ms-flex: 0 0 15%;
	    flex: 0 0 85%;
	    max-width: 400%;
	    margin: 30px auto 0 auto; 
	}
	.second-div-p1, .second-div-p2{
		width:100%;
	}
	.second-div a{
		float: right;
		position: relative;
		top:-50px;
		right: 1px;
	}
	.second-row{
		margin: 0 auto;
		margin-left: -19px;
		margin-right: -24px;
	}
}  
@media(max-width: 320px){
	.col-md-3 {
		-ms-flex: 0 0 15%;
	    flex: 0 0 309%;
	    max-width: 320%;
	    margin-top: 30px;
	}
	.right-para img{
		position: relative;
		top:-30px;
		right: -170px;
	}
	.second-div{
		-ms-flex: 0 0 15%;
	    flex: 0 0 85%;
	    max-width: 400%;
	    margin: 30px auto 0 auto; 
	}
	.second-div-p1, .second-div-p2{
		width:100%;
	}
	.second-div a{
		float: right;
		position: relative;
		top:-50px;
		right: 1px;
	}
	.second-row{
		margin: 0 auto;
		margin-left: -19px;
		margin-right: -25px;
	}
	.header-div h2{
		width:290px;
		margin-left: -150px;
		font-size: 1.5rem;
	}
	.left-para{
		width: 200px;
		margin-left: -150px;
	}
	.right-para {
	    position: relative;
	    top: 35px;
	    right: 100px;
	    left:-90px;
	}
	.right-para img{
		position: relative;
		top:-30px;
		right: -290px;
		left:240px;
	}
	.container h2{
		margin-left: 10px;
	}
}
    .attribution { 
    	margin-top:60px; 
    	font-size: 11px; 
    	text-align: center; 
    }
    .attribution a { 
    	color: hsl(228, 45%, 44%); 
    }
 